h1{
    color: rgb(43, 154, 182);
    font-size: 50px;
    text-align: center;
}

h2{
    color: rgb(24, 112, 112);
    font-size: 50;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}